<div #modalContainer class="modal fade" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" (focus)="true" (keyup.esc)="modalService.close()">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalService?.modalOptions?.title}}</h5>
                <button type="button" class="close" aria-label="Close" (click)="modalService.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ng-template appModalBodyContainer></ng-template>
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>