<section class="footer">
    <div class="nxm2_container">
        <div class="nxm2_footer-copyright_inner">
            <a class="nxm2_footer-copyright_logo" href="/"><img class="lazy" data-src="/Assets/Web/build/assets/images/2018/logo.svg" alt="" src="https://www.flypgs.com/Assets/Web/build/assets/images/2018/logo.svg"></a>
            <div class="nxm2_footer-copyright_text"> <p>Pegasus Hava Taşımacılığı Anonim Şirketi Türkiye Cumhuriyeti yasaları uyarınca faaliyet göstermektedir.<br> Şirket merkez adresi: Aeropark, Yenişehir Mah. Osmanlı Bul. No: 11/A Kurtköy 34912 Pendik – İstanbul/TÜRKİYE.</p> <a href="https://www.guvendamgasi.org.tr/firmadetay.php?Guid=4dbe32dc-0220-11ea-b063-48df373f4850" target="_blank"><img src="https://www.guvendamgasi.org.tr/_logo_js/img/aldi.png" id="guvendamgasi" width="100" alt="Güvenilir Site" title="06.01.2020"></a><div class="nxm2_footer-copyright_member"> <a href="https://www.guvendamgasi.org.tr/firmadetay.php?Guid=4dbe32dc-0220-11ea-b063-48df373f4850" target="_blank"><img src="" id="guvendamgasi" width="100"></a><div class="nxm2_footer-copyright_member"> <img src="https://www.flypgs.com/Assets\Web\build\assets\images\sprite\common\iata.png" class="m-r-10"><span>Üyesidir</span></div></div></div>
        </div>
    </div>
</section>