<button type="button" class="btn btn-sm btn-primary" (click)="onEditClicked()">Edit</button> | 
<button type="button" class="btn btn-sm btn-danger" (click)="onDeleteClicked()">Delete</button> | 
<button type="button" class="btn btn-sm btn-info" (click)="onInfoClicked()">Info</button>